ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
kaleido==0.2.1
matplotlib-inline==0.1.7
matplotlib==3.9.2
nbconvert==7.16.4
nbformat==5.10.4
numpy==2.1.1
packaging==24.1
pages==0.3
pandas==2.2.2
pillow==10.4.0
pipreqs==0.5.0
plotly==5.24.1
streamlit==1.40.0
tqdm==4.66.5
openpyxl==3.1.5
geopandas==1.0.1
mapclassify==2.8.1
io